@import "tailwindcss";

@theme {
  --breakpoint-smest: 300px;
  --breakpoint-sm: 325px;
  --breakpoint-medium: 650px;
  --breakpoint-md: 768px;
  --breakpoint-middle: 850px;
  --breakpoint-large: 900px;
  --breakpoint-lg: 1024px;
}
